body{
    background-color: cadetblue;
    color: azure;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
h1{
    color: cornsilk;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}